@font-face {
    font-family: CerealBook;
    src: url(fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CerealBook;
}

h1 {
    font-size: 26px;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}

a {
    color: #222;
    font-size: 14px;
    font-weight: bold;
}

.flex {
    display: flex;
    flex: wrap;
}

.hr-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.gap {
    gap: 10px;
}

.vr-center {
    align-items: center;
}

main {
    width: 100%;
    height: 100vh;
    padding: 40px 100px;
}

button {
    padding: 8px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: #F7F7F7;
    border-radius: 10px;
}

button i {
    color: #5D5D5D;
}

button a {
    padding-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 20px;
}

.item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.grid-item {
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.grid-item img:hover {
    transform: scale(1.1);
    background: rgb(0, 0, 0, 0.2);
}

.item-3 {
    border-top-right-radius: 10px;
}

.item-5 {
    border-bottom-right-radius: 10px;
    position: relative;
}

.item-5 button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 25px 25px 0;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 7px 15px;
    border: 1px solid;
}

button span::before,
button span::after {
    content: "\f142";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #5d5d5d;
}

span::before {
    padding: 0 2px;
}

span::after {
    padding: 0 10px 0 2px;
}

.details{
    padding: 40px 0;
    gap:400px;
}

.details span::before {
    content: "\f111";
    font-size: 2px;
    color: #5d5d5d;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    padding: 6px;
}
.logo img{
    width:100%;
    height:60px;
}